- hosts: centos6
  gather_facts: False
  sudo: yes

  vars:
    - requirements:
        - tabulate
        - untangle
        - pytest
        - python-coveralls
        - pytest-cov

  tasks:
  - name: 'add packages for security audit'
    yum: name={{ item }} state=present
    with_items:
     - unzip
     - git
     - openscap-utils
     - python-argparse
     - python-pip

  - name: 'add python modules for security audit'
    pip: name={{item}}
    with_items: requirements
    
  - name: 'ensure absense of STIG_SCAP results.xml file'
    file: dest=/root/results.xml state=absent
  
  - name: 'ensure absense of STIG_SCAP rhel-stig-report.html file'
    file: dest=/root/rhel-stig-report.html state=absent

  - name: 'download from http://iase.disa.mil/stigs/Documents'
    get_url: url=http://iase.disa.mil/stigs/Documents/{{stig_benchmark}}
             dest=/tmp/{{stig_benchmark}}

  - name: 'unzip Security Content Automation Protocol (SCAP) Content and Tools'
    command: unzip -o /tmp/{{stig_benchmark}}
  
  - name: 'run the SCAP tool and create rhel-stig-report.html'
    command: "oscap xccdf eval \
      --profile MAC-3_Classified \
      --results /root/results.xml \
      --report /root/rhel-stig-report.html \
      --cpe U_RedHat_6_V1R6_STIG_SCAP_1-1_Benchmark-cpe-dictionary.xml \
      U_RedHat_6_V1R6_STIG_SCAP_1-1_Benchmark-xccdf.xml"
    no_log: yes
    ignore_errors: yes

  - name: 'fetch report into /tmp/rhel-stig-report.html'
    fetch: dest=/tmp/rhel-stig-report.html src=/root/rhel-stig-report.html flat=yes

  - name: 'download Red Hat Security Response Team OVAL definitions, part 1'
    get_url: url=http://www.redhat.com/security/data/metrics/com.redhat.rhsa-all.xccdf.xml
             dest=/tmp/com.redhat.rhsa-all.xccdf.xml

  - name: 'download Red Hat Security Response Team OVAL definitions, part 2'
    get_url: url=http://www.redhat.com/security/data/oval/com.redhat.rhsa-all.xml
             dest=/tmp/com.redhat.rhsa-all.xml

  - name: 'run the SCAP tool and create vulnerability-report.html'
    command: "oscap xccdf eval --results /root/results.xml \
      --report /root/vulnerability-report.html \
      /tmp/com.redhat.rhsa-all.xccdf.xml"


  - name: 'fetch report into /tmp/vulnerability-report.html'
    fetch: dest=/tmp/vulnerability-report.html src=/root/vulnerability-report.html flat=yes
